@import url(common.css);

body {
    text-align: center;
    padding: 60px 0;
}
div {
    width: 180px;
    border: 1px solid #000;
    margin: 10px auto;
    text-align: left;
    padding: 10px;
}
input {
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
}
span {
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    /* position: absolute; left: 97.2%; top: 97.2%; */
}
strong {
    width: 20px;
    height: 20px;
    background: #f00;
    position: absolute;
}
strong.active {
    display: none;
}