@import url("common.css");
@font-face { font-family: '국립박물관문화재단클래식B'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff'); font-weight: normal; font-style: normal; }


/****** header ******/
#header {
    width: 1820px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

#header > a {
    display: flex;
    align-items: center;
}

#header > a span {
    font-size: 30px;
    margin-left: 5px;
    color: #000;
    font-family: '국립박물관문화재단클래식B';
}

#header .right {
    width: 649px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .nav {
    width: 536px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .nav li a {
    color: #333;
}
#header .nav li a:hover {
    font-weight: bold;
}
#header .nav li a::after {
    content: "";
    width: 100%; height: 2px;
    background-color: #333;
    margin: 0 auto;
    margin-top: 2px;
    display: block;
    opacity: 0;
    transition: 0;
}
#header .nav li a:hover::after {
    opacity: 1;
    transition: .5s;
}

#header .line {
    content: "";
    width: 1px;
    height: 32px;
    background: #bfbfbf;
}

#header .menu {
    height: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header .menu span {
    height: 2px;
    background: #000;
}
#header .menu span:nth-of-type(1) {
    width: 30px;
}
#header .menu span:nth-of-type(2) {
    width: 21px;
}
#header .menu span:nth-of-type(3) {
    width: 26px;
}

/***** visual ******/
#visual {
    margin: 0 auto;
    background: url("../img/visual.jpg") no-repeat center top;
    width: 1820px;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#visual p {
    color: #fff;
    line-height: 1.5em;
}
#visual p:first-of-type {
    font-weight: bold;
    font-size: 116px;
}
#visual p:last-of-type {
    font-size: 22px;
}