@import url("common.css");

/****************** header ******************/
#header {
    width: 1820px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#header > a {
    display: flex;
    align-items: center;
}
#header .right {
    width: 649px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/************* nav *************/
#header .nav {
    width: 536px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .nav li {
    position: relative;
}
#header .nav li a {
    color: #333;
    font-weight: bold;
    padding: 24px 10px;
    transition: .5s;
}
#header .nav li a:hover {
    color: #fff;
}
#header .nav li a::before {
    content: "";
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0; top: -100%;
    background: #65767d;
    z-index: -1;
    transition: .5s;
}
#header .nav li a:hover::before {
    top: 0;
}
#header .line {
    content: "";
    width: 1px;
    height: 32px;
    background: #bfbfbf;
}

/************* menu *************/
#header .menu {
    height: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}
#header .menu span {
    height: 2px;
    background: #000;
}
#header .menu span:nth-of-type(1) {
    width: 30px;
}
#header .menu span:nth-of-type(2) {
    width: 21px;
}
#header .menu span:nth-of-type(3) {
    width: 26px;
}

/****************** visual ******************/
#visual {
    margin: 0 auto;
    background: url("../img/visual.jpg") no-repeat center top;
    width: 1820px;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#visual p {
    color: #fff;
    line-height: 1.5em;
}
#visual p:first-of-type {
    font-weight: bold;
    font-size: 116px;
}
#visual p:last-of-type {
    font-size: 22px;
}