@import url("common.css");


/***** common *****/
html, body {
    height: 100%;
}
article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 2em;
    color: #333;
    padding-bottom: 50px;
}



/***** scale *****/
.scale figure {
    overflow: hidden;
}
.scale figure img {
    transition: .5s;
}
.scale figure:hover img {
    transform: scale(1.6) rotate(180deg);
}



/***** scale2 *****/
.scale2 h1 {
    overflow: hidden;
    height: 40px;
}
.scale2 figure {
    overflow: hidden;
    border-radius: 0;    
    position: relative;
    transition: 5s;
}
.scale2 figure:hover {
    border-radius: 100%;
    border-bottom: 5px solid #000;
}
.scale2 figure img {
    border-radius: 0;
    width: 500px;
    transition: 3s 1s;
}
.scale2 figure:hover img {
    border-radius: 100%;
    transform: scale(1.3) translateY(100%);    
}
.scale2 figure::after {
    content: "Hide";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    display: block;
    position: absolute;
    left: 0; top: 100%;
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 0;
    transition: 5s;
}
.scale2 figure:hover::after {
    width: 500px;
    height: 500px;
    top: 30%;
    transition-delay: 1.5s;
    opacity: 1;
}